{% extends 'layout.html'%}
    {% block head_html %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
        {% endblock head_html %}

    {% block body %}
       <div class="container">
           <div class="row px-3">
               <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0" >
                   <div class="img-left d-none d-md-flex"></div>
                   <div class="card-body">
                       <h4 class="title text-center mt-4">
                           Login 
                       </h4>
                       <form class="form-box px-3" action="" method="POST">
                        {{ form.hidden_tag() }}
                           <div class="form-input" >
                               <span><i class="fa fa-envelope-o"></i></span>
                               {% if form.email.errors %}
                        {{ form.email.label(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                           </div>
                           <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            {% if form.password.errors %}
                        {{ form.password.label(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                        </div>
                        <div class="mb-3">
                            <div class="custom-control custom-checkbox">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-input-label") }}
            
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#" class="forget-link">
                                Forgot Password?
                            </a>
                        </div>
                        <div class="text-center mb-3">
                            or login with
                        </div>
                        <div class="mb-3">                   
                               <a href="#" class="btn btn-block btn-social btn-google"> 
                                   Google
                                </a>
                        </div>
                            <hr class="my-4">
                            <div class="text-center mb-2">
                               Don't have an account?
                               <a href="{{ url_for('register') }}" class="register-link">
                                   Register here
                               </a> 
                            </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
 {% endblock body %}